<a href="https://colab.research.google.com/github/victorog17/soulcode_aulas_spark/blob/main/Soulcode_PySpark_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BIBLIOTECAS**

In [ ]:
pip install pyspark

In [29]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

**CONFIGURAR A NOSSA SPARKSESSION**

In [4]:
spark = (SparkSession.builder\
        .master("local")\
        .appName("aprendendo-dataframes")\
        .config("spark.ui.port", "4050")\
        .getOrCreate())

In [5]:
spark

**CRIANDO DATAFRAMES NO PYSPARK**

In [15]:
dados = [
         ("João da Silva", "São Paulo", "SP", 1100.00),
         ("Maria dos Santos", "São Paulo", "SP", 2100.00),
         ("Carlos Victor", "Rio de Janeiro", "RJ", 2100.00),
         ("Pedro José", "Maceió", "AL", 3600.00)
]
schema = ["nome", "cidade", "estado", "salario"]

df = spark.createDataFrame(data=dados, schema=schema)
df.show()
df.printSchema()

+----------------+--------------+------+-------+
|            nome|        cidade|estado|salario|
+----------------+--------------+------+-------+
|   João da Silva|     São Paulo|    SP| 1100.0|
|Maria dos Santos|     São Paulo|    SP| 2100.0|
|   Carlos Victor|Rio de Janeiro|    RJ| 2100.0|
|      Pedro José|        Maceió|    AL| 3600.0|
+----------------+--------------+------+-------+

root
 |-- nome: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- salario: double (nullable = true)

**IMPORTANDO CSV NO PYSPARK**

In [24]:
df2 = (spark
      .read
      .format("csv")
      .option("header", "true")
      .option("inferschema", "true")
      .option("delimiter", ";")
      .load("/content/drive/MyDrive/Soul_Code_Academy/repositorio_pandas/arquivo_geral.csv")
)

In [25]:
df2.show(5)
df2.printSchema()

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    RO|2020-01-30|         0|              0|          0|               0|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 5 rows

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

**COMANDOS SELECT E FILTER**

In [28]:
#SELECT - 1ª FORMA DE UTILIZAÇÃO
df2.select("regiao", "estado", "data", "casosNovos").show(15)

+------+------+----------+----------+
|regiao|estado|      data|casosNovos|
+------+------+----------+----------+
| Norte|    RO|2020-01-30|         0|
| Norte|    RO|2020-01-31|         0|
| Norte|    RO|2020-02-01|         0|
| Norte|    RO|2020-02-02|         0|
| Norte|    RO|2020-02-03|         0|
| Norte|    RO|2020-02-04|         0|
| Norte|    RO|2020-02-05|         0|
| Norte|    RO|2020-02-06|         0|
| Norte|    RO|2020-02-07|         0|
| Norte|    RO|2020-02-08|         0|
| Norte|    RO|2020-02-09|         0|
| Norte|    RO|2020-02-10|         0|
| Norte|    RO|2020-02-11|         0|
| Norte|    RO|2020-02-12|         0|
| Norte|    RO|2020-02-13|         0|
+------+------+----------+----------+
only showing top 15 rows

**UTILIZANDO AS FUNCTIONS PARA TRABALHAR COM COLUNAS**

In [30]:
#SELECT - 2ª FORMA DE UTILIZAÇÃO
df2.select(F.col("regiao"), F.col("estado"), F.col("data"), F.col("casosNovos")).show(20)

+------+------+----------+----------+
|regiao|estado|      data|casosNovos|
+------+------+----------+----------+
| Norte|    RO|2020-01-30|         0|
| Norte|    RO|2020-01-31|         0|
| Norte|    RO|2020-02-01|         0|
| Norte|    RO|2020-02-02|         0|
| Norte|    RO|2020-02-03|         0|
| Norte|    RO|2020-02-04|         0|
| Norte|    RO|2020-02-05|         0|
| Norte|    RO|2020-02-06|         0|
| Norte|    RO|2020-02-07|         0|
| Norte|    RO|2020-02-08|         0|
| Norte|    RO|2020-02-09|         0|
| Norte|    RO|2020-02-10|         0|
| Norte|    RO|2020-02-11|         0|
| Norte|    RO|2020-02-12|         0|
| Norte|    RO|2020-02-13|         0|
| Norte|    RO|2020-02-14|         0|
| Norte|    RO|2020-02-15|         0|
| Norte|    RO|2020-02-16|         0|
| Norte|    RO|2020-02-17|         0|
| Norte|    RO|2020-02-18|         0|
+------+------+----------+----------+
only showing top 20 rows

**1ª MANEIRA - EXIBIR A REGIÃO, ESTADOS E CASOS NOVOS APENAS DA REGIÃO NORTE**

In [49]:
df2.select(F.col("regiao"), F.col("estado"), F.col("casosNovos")).filter(F.col("regiao") == "Sul").show(12)

+------+------+----------+
|regiao|estado|casosNovos|
+------+------+----------+
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
+------+------+----------+
only showing top 12 rows

In [41]:
print(f'Rows: {df2.count()} | Columns: {len(df2.columns)}')

Rows: 2349 | Columns: 7

**2ª MANEIRA - EXIBIR A REGIÃO, ESTADOS E CASOS NOVOS APENAS DA REGIÃO NORTE**

In [48]:
df2.select(F.col("regiao"), 
           F.col("estado"), 
           F.col("casosNovos")).filter(df2["regiao"] == "Nordeste").show(13)

+--------+------+----------+
|  regiao|estado|casosNovos|
+--------+------+----------+
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
|Nordeste|    MA|         0|
+--------+------+----------+
only showing top 13 rows

**3ª MANEIRA - EXIBIR A REGIÃO, ESTADOS E CASOS NOVOS APENAS DA REGIÃO NORTE**

In [47]:
df2.select(F.col("regiao"), 
           F.col("estado"), 
           F.col("casosNovos")).filter("regiao = 'Sudeste'").show(14)

+-------+------+----------+
| regiao|estado|casosNovos|
+-------+------+----------+
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
|Sudeste|    MG|         0|
+-------+------+----------+
only showing top 14 rows

**4ª MANEIRA - EXIBIR A REGIÃO, ESTADOS E CASOS NOVOS APENAS DA REGIÃO NORTE**

In [46]:
filtro = F.col("regiao") == "Sul"
df2.select(F.col("regiao"), F.col("estado"), F.col("casosNovos")).filter(filtro).show(15)

+------+------+----------+
|regiao|estado|casosNovos|
+------+------+----------+
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
|   Sul|    PR|         0|
+------+------+----------+
only showing top 15 rows

**CRIANDO UMA LISTA DINÂMICA COM VÁRIAS COLUNAS PARA SE UTILIZAR DENTRO DO COMANDO SELECT**

In [52]:
lista_colunas = ["regiao", "estado", "casosNovos", "obitosNovos", "obitosAcumulados"]
df2.select(lista_colunas).show(16)
df2.printSchema()

+------+------+----------+-----------+----------------+
|regiao|estado|casosNovos|obitosNovos|obitosAcumulados|
+------+------+----------+-----------+----------------+
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
| Norte|    RO|         0|          0|               0|
+------+------+----------+-----------+----------------+
only showing top 16 rows

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

**APLICAR MAIS DE UM FILTRO DENTRO DO DATAFRAME**

In [53]:
#FAZER FILTRAGEM PELA REGIÃO NORTE E ESTADO DO AMAZONAS
df2.select(F.col("regiao"), 
           F.col("estado")).filter(F.col("regiao") == "Norte").filter(F.col("estado") == "AM").show(17)

+------+------+
|regiao|estado|
+------+------+
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
+------+------+
only showing top 17 rows

In [54]:
filtro01 = F.col("regiao") == "Norte"
filtro02 = F.col("estado") == "AM"
df2.select(F.col("regiao"), 
           F.col("estado")).filter(filtro01 & filtro02).show(17)

+------+------+
|regiao|estado|
+------+------+
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
| Norte|    AM|
+------+------+
only showing top 17 rows

In [55]:
df2.filter(F.col("regiao") == "Norte").filter(F.col("estado") == "AM").show(18)

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    AM|2020-01-30|         0|              0|          0|               0|
| Norte|    AM|2020-01-31|         0|              0|          0|               0|
| Norte|    AM|2020-02-01|         0|              0|          0|               0|
| Norte|    AM|2020-02-02|         0|              0|          0|               0|
| Norte|    AM|2020-02-03|         0|              0|          0|               0|
| Norte|    AM|2020-02-04|         0|              0|          0|               0|
| Norte|    AM|2020-02-05|         0|              0|          0|               0|
| Norte|    AM|2020-02-06|         0|              0|          0|               0|
| Norte|    AM|2020-02-07|         0|              0|          0|               0|
| Norte|    AM|2020-02-08|         0|              0|          0|               0|
| Norte|    AM|2020-02-09|         0|              0|          0|               0|
| Norte|    AM|2020-02-10|         0|              0|          0|               0|
| Norte|    AM|2020-02-11|         0|              0|          0|               0|
| Norte|    AM|2020-02-12|         0|              0|          0|               0|
| Norte|    AM|2020-02-13|         0|              0|          0|               0|
| Norte|    AM|2020-02-14|         0|              0|          0|               0|
| Norte|    AM|2020-02-15|         0|              0|          0|               0|
| Norte|    AM|2020-02-16|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 18 rows