<a href="https://colab.research.google.com/github/victorog17/soulcode_aulas_spark/blob/main/Soulcode_PySpark_005_StructType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BIBLIOTECAS**

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 35 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 57.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=93ea1964029c1e36d38b879b632e6b6e042a8d7ad52540c3900fe7d1b627fd34
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

**CONFIGURAR A NOSSA SPARKSESSION**

In [ ]:
spark = (SparkSession.builder\
        .master("local")\
        .appName("dataframe_withcolumn")\
        .config("spark.ui.port", "4050")\
        .getOrCreate())
spark

**IMPORTANDO CSV NO PYSPARK**

In [ ]:
df1 = (spark
      .read
      .format("csv")
      .option("header", "true")
      .option("inferschema", "true")
      .option("delimiter", ";")
      .load("/content/drive/MyDrive/Soul_Code_Academy/repositorio_pandas/arquivo_geral.csv")
)

In [ ]:
df1.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

In [ ]:
dados = [
         ("João", "da", "Silva", "12345", "M", 1000),
         ("Priscila", "dos", "Santos", "87663", "F", 2200),
         ("Carla", "Pereira", "Costa", "12697", "F", 3800),
         ("Edson", "Paixão", "dos Anjos", "44023", "M", 1500),
         ("Stella", "de", "Almeida", "110001", "F", 1560)
]

schema = (
    StructType([
        StructField("primeiro_nome",StringType(), True),
        StructField("nome_do_meio", StringType(), True),
        StructField("ultimo_nome", StringType(), True),
        StructField("codigo", StringType(), True),
        StructField("genero", StringType(), True),
        StructField("salario", IntegerType(), True)
    ])
)

df = spark.createDataFrame(data=dados, schema=schema)
df.printSchema()

root
 |-- primeiro_nome: string (nullable = true)
 |-- nome_do_meio: string (nullable = true)
 |-- ultimo_nome: string (nullable = true)
 |-- codigo: string (nullable = true)
 |-- genero: string (nullable = true)
 |-- salario: integer (nullable = true)

In [ ]:
dados = [
         (("João", "da", "Silva"), "12345", "M", 1000),
         (("Priscila", "dos", "Santos"), "87663", "F", 2200),
         (("Carla", "Pereira", "Costa"), "12697", "F", 3800),
         (("Edson", "Paixão", "dos Anjos"), "44023", "M", 1500),
         (("Stella", "de", "Almeida"), "110001", "F", 1560)
]

schema = StructType([
        StructField("nome", StructType([
             StructField("primeiro_nome", StringType(), True),
             StructField("nome_do_meio", StringType(), True),
             StructField("ultimo_nome", StringType(), True) 
        ])),
        StructField("codigo", StringType(), True),
        StructField("genero", StringType(), True),
        StructField("salario", IntegerType(), True)
])

df2 = spark.createDataFrame(data=dados, schema=schema)
df2.printSchema()

root
 |-- nome: struct (nullable = true)
 |    |-- primeiro_nome: string (nullable = true)
 |    |-- nome_do_meio: string (nullable = true)
 |    |-- ultimo_nome: string (nullable = true)
 |-- codigo: string (nullable = true)
 |-- genero: string (nullable = true)
 |-- salario: integer (nullable = true)

In [ ]:
df2.show(5)

+--------------------+------+------+-------+
|                nome|codigo|genero|salario|
+--------------------+------+------+-------+
|   {João, da, Silva}| 12345|     M|   1000|
|{Priscila, dos, S...| 87663|     F|   2200|
|{Carla, Pereira, ...| 12697|     F|   3800|
|{Edson, Paixão, d...| 44023|     M|   1500|
|{Stella, de, Alme...|110001|     F|   1560|
+--------------------+------+------+-------+