<a href="https://colab.research.google.com/github/victorog17/soulcode_aulas_spark/blob/main/Soulcode_PySpark_007_Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BIBLIOTECAS**

In [ ]:
pip install pyspark

In [5]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

**CONFIGURAR A NOSSA SPARKSESSION**

In [3]:
spark = (SparkSession.builder\
        .master("local")\
        .appName("dataframe_soulcode_treino")\
        .config("spark.ui.port", "4050")\
        .getOrCreate())
spark

**MONTADO UM DATAFRAME NO PYSPARK**

In [4]:
dados = [
         ("Anderson", "Vendas", "SP", 1500.00, 34, 1000.00),
         ("Kennedy", "Vendas", "CE", 1200.00, 56, 2000.00),
         ("Bruno", "Vendas", "SP", 1100.00, 30, 2300.00),
         ("Maria", "Financas", "CE", 3600.00, 24, 2300.00),
         ("Eduardo", "Financas", "CE", 4500.00, 40, 2400.00),
         ("Mendes", "Financas", "RS", 8000.00, 36, 1900.00),
         ("Kethlyn", "Financas", "RS", 1200.00, 53, 1500.00),
         ("Thiago", "Marketing", "GO", 1100.00, 25, 1800.00),
         ("Carla", "Marketing", "GO", 2600.00, 50, 2100.00)
]
schema = ["Nome", "Departamento", "Estado", "Salario", "Idade", "Bonus"]

df = spark.createDataFrame(data=dados, schema=schema)
df.show()
df.printSchema()

+--------+------------+------+-------+-----+------+
|    Nome|Departamento|Estado|Salario|Idade| Bonus|
+--------+------------+------+-------+-----+------+
|Anderson|      Vendas|    SP| 1500.0|   34|1000.0|
| Kennedy|      Vendas|    CE| 1200.0|   56|2000.0|
|   Bruno|      Vendas|    SP| 1100.0|   30|2300.0|
|   Maria|    Finanças|    CE| 3600.0|   24|2300.0|
| Eduardo|    Finanças|    CE| 4500.0|   40|2400.0|
|  Mendes|    Finanças|    RS| 8000.0|   36|1900.0|
| Kethlyn|    Finanças|    RS| 1200.0|   53|1500.0|
|  Thiago|   Marketing|    GO| 1100.0|   25|1800.0|
|   Carla|   Marketing|    GO| 2600.0|   50|2100.0|
+--------+------------+------+-------+-----+------+

root
 |-- Nome: string (nullable = true)
 |-- Departamento: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Salario: double (nullable = true)
 |-- Idade: long (nullable = true)
 |-- Bonus: double (nullable = true)

In [6]:
dados2 = [
         ("Anderson", "Vendas", "SP", 1500.00, 34, 1000.00),
         ("Kennedy", "Vendas", "CE", 1200.00, 56, 2000.00),
         ("Bruno", "Vendas", "SP", 1100.00, 30, 2300.00),
         ("Maria", "Financas", "CE", 3600.00, 24, 2300.00),
         ("Eduardo", "Financas", "CE", 4500.00, 40, 2400.00),
         ("Mendes", "Financas", "RS", 8000.00, 36, 1900.00),
         ("Kethlyn", "Financas", "RS", 1200.00, 53, 1500.00),
         ("Thiago", "Marketing", "GO", 1100.00, 25, 1800.00),
         ("Carla", "Marketing", "GO", 2600.00, 50, 2100.00)
]

schema2 = (
    StructType([
        StructField("Nome",StringType(), True),
        StructField("Departamento", StringType(), True),
        StructField("Estado", StringType(), True),
        StructField("Salario", DoubleType(), True),
        StructField("Idade", IntegerType(), True),
        StructField("Bonus", DoubleType(), True)
    ])
)

df2 = spark.createDataFrame(data=dados2, schema=schema2)
df2.show()
df2.printSchema()

+--------+------------+------+-------+-----+------+
|    Nome|Departamento|Estado|Salario|Idade| Bonus|
+--------+------------+------+-------+-----+------+
|Anderson|      Vendas|    SP| 1500.0|   34|1000.0|
| Kennedy|      Vendas|    CE| 1200.0|   56|2000.0|
|   Bruno|      Vendas|    SP| 1100.0|   30|2300.0|
|   Maria|    Finanças|    CE| 3600.0|   24|2300.0|
| Eduardo|    Finanças|    CE| 4500.0|   40|2400.0|
|  Mendes|    Finanças|    RS| 8000.0|   36|1900.0|
| Kethlyn|    Finanças|    RS| 1200.0|   53|1500.0|
|  Thiago|   Marketing|    GO| 1100.0|   25|1800.0|
|   Carla|   Marketing|    GO| 2600.0|   50|2100.0|
+--------+------------+------+-------+-----+------+

root
 |-- Nome: string (nullable = true)
 |-- Departamento: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Salario: double (nullable = true)
 |-- Idade: integer (nullable = true)
 |-- Bonus: double (nullable = true)

In [14]:
df3 = df2.withColumn("Bonus_Proporcional", F.round((df2['Bonus'] / df2['Salario']), 2))
df3.show()

+--------+------------+------+-------+-----+------+------------------+
|    Nome|Departamento|Estado|Salario|Idade| Bonus|Bonus_Proporcional|
+--------+------------+------+-------+-----+------+------------------+
|Anderson|      Vendas|    SP| 1500.0|   34|1000.0|              0.67|
| Kennedy|      Vendas|    CE| 1200.0|   56|2000.0|              1.67|
|   Bruno|      Vendas|    SP| 1100.0|   30|2300.0|              2.09|
|   Maria|    Finanças|    CE| 3600.0|   24|2300.0|              0.64|
| Eduardo|    Finanças|    CE| 4500.0|   40|2400.0|              0.53|
|  Mendes|    Finanças|    RS| 8000.0|   36|1900.0|              0.24|
| Kethlyn|    Finanças|    RS| 1200.0|   53|1500.0|              1.25|
|  Thiago|   Marketing|    GO| 1100.0|   25|1800.0|              1.64|
|   Carla|   Marketing|    GO| 2600.0|   50|2100.0|              0.81|
+--------+------------+------+-------+-----+------+------------------+