<a href="https://colab.research.google.com/github/victorog17/soulcode_aulas_spark/blob/main/Soulcode_PySpark_003_withcolumn_cast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BIBLIOTECAS**

In [20]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [21]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

**CONFIGURAR A NOSSA SPARKSESSION**

In [22]:
spark = (SparkSession.builder\
        .master("local")\
        .appName("dataframe_withcolumn")\
        .config("spark.ui.port", "4050")\
        .getOrCreate())

In [23]:
spark

**IMPORTANDO CSV NO PYSPARK**

In [45]:
df1 = (spark
      .read
      .format("csv")
      .option("header", "true")
      .option("inferschema", "true")
      .option("delimiter", ";")
      .load("/content/drive/MyDrive/Soul_Code_Academy/repositorio_pandas/arquivo_geral.csv")
)
df1.show(5)
df1.printSchema()

+------+------+----------+----------+---------------+-----------+----------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|
+------+------+----------+----------+---------------+-----------+----------------+
| Norte|    RO|2020-01-30|         0|              0|          0|               0|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|
+------+------+----------+----------+---------------+-----------+----------------+
only showing top 5 rows

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)

**VAMOS CRIAR UMA NOVA COLUNA COM UM VALOR ALEATÃ“RIO**

In [25]:
valor = 25
df_novo = df1.withColumn("novo_valor", F.lit(valor))
df_novo.show(10)

+------+------+----------+----------+---------------+-----------+----------------+----------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|novo_valor|
+------+------+----------+----------+---------------+-----------+----------------+----------+
| Norte|    RO|2020-01-30|         0|              0|          0|               0|        25|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-04|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-05|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-06|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-07|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-08|         0|              0|          0|               0|        25|
+------+------+----------+----------+---------------+-----------+----------------+----------+
only showing top 10 rows

In [26]:
df_novo.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)
 |-- novo_valor: integer (nullable = false)

In [27]:
df_novo_cast = df_novo.select(F.col("novo_valor").cast("string"))

df_novo_cast.printSchema()

root
 |-- novo_valor: string (nullable = false)

**CRIAR UM CAST NA NOVA COLUNA DENTRO DO PRÃ“PRIA DATAFRAME df1**

In [47]:
valor = 25
valor2 = 100
df1 = df1.withColumn("novo_valor", F.lit(valor))
df1.show(10)

+------+------+----------+----------+---------------+-----------+----------------+----------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|novo_valor|
+------+------+----------+----------+---------------+-----------+----------------+----------+
| Norte|    RO|2020-01-30|         0|              0|          0|               0|        25|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-04|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-05|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-06|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-07|         0|              0|          0|               0|        25|
| Norte|    RO|2020-02-08|         0|              0|          0|               0|        25|
+------+------+----------+----------+---------------+-----------+----------------+----------+
only showing top 10 rows

In [53]:
df_obitosAcumulados_cast = df1.select(F.col("obitosAcumulados").cast("string"))
df_obitosAcumulados_cast.show(3)

+----------------+
|obitosAcumulados|
+----------------+
|               0|
|               0|
|               0|
+----------------+
only showing top 3 rows

In [54]:
df_obitosAcumulados_cast.printSchema()

root
 |-- obitosAcumulados: string (nullable = true)

**CONTINUAÃ‡ÃƒO CRIAR UM CAST NA NOVA COLUNA DENTRO DO PRÃ“PRIA DATAFRAME df1**

In [55]:
#df1 = df1.withColumn("novo_valor", F.col("novo_valor").cast("string"))
#df1 = df1.withColumn("novo_valor", F.lit(valor).cast("string"))
df1 = df1.withColumn("novo_valor", df1['novo_valor'].cast("string"))
df1.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: integer (nullable = true)
 |-- casosAcumulados: integer (nullable = true)
 |-- obitosNovos: integer (nullable = true)
 |-- obitosAcumulados: integer (nullable = true)
 |-- novo_valor: string (nullable = false)

**CRIAR UMA NOVA COLUNA PARA SOMAR OUTRAS COLUNAS**

In [57]:
#df1 = df1.withColumn("soma_obitos_novos_acumulados", F.col("obitosNovos") + F.col("obitosAcumulados"))
df1 = df1.withColumn("soma_obitos_novos_acumulados", df1['obitosNovos'] + df1['obitosAcumulados'])
df1.show(15)

+------+------+----------+----------+---------------+-----------+----------------+----------+----------------------------+
|regiao|estado|      data|casosNovos|casosAcumulados|obitosNovos|obitosAcumulados|novo_valor|soma_obitos_novos_acumulados|
+------+------+----------+----------+---------------+-----------+----------------+----------+----------------------------+
| Norte|    RO|2020-01-30|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-01-31|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-01|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-02|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-03|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-04|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-05|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-06|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-07|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-08|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-09|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-10|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-11|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-12|         0|              0|          0|               0|        25|                           0|
| Norte|    RO|2020-02-13|         0|              0|          0|               0|        25|                           0|
+------+------+----------+----------+---------------+-----------+----------------+----------+----------------------------+
only showing top 15 rows

**CRIANDO MAIS COLUNAS DE UMA ÃšNICA VEZ**

In [59]:
df1 = df1.withColumn("coluna1", F.lit("conteudo 1")).withColumn("coluna2", F.lit("conteudo 2"))
#df1.select(F.col("estado"), F.col("data"), F.col("coluna1"), F.col("coluna2")).show(10)
df1.select(df1['estado'], df1['data'], df1['coluna1'], df1['coluna2']).show(10)

+------+----------+----------+----------+
|estado|      data|   coluna1|   coluna2|
+------+----------+----------+----------+
|    RO|2020-01-30|conteudo 1|conteudo 2|
|    RO|2020-01-31|conteudo 1|conteudo 2|
|    RO|2020-02-01|conteudo 1|conteudo 2|
|    RO|2020-02-02|conteudo 1|conteudo 2|
|    RO|2020-02-03|conteudo 1|conteudo 2|
|    RO|2020-02-04|conteudo 1|conteudo 2|
|    RO|2020-02-05|conteudo 1|conteudo 2|
|    RO|2020-02-06|conteudo 1|conteudo 2|
|    RO|2020-02-07|conteudo 1|conteudo 2|
|    RO|2020-02-08|conteudo 1|conteudo 2|
+------+----------+----------+----------+
only showing top 10 rows

**CRIANDO UM CAST PARA CONVERTER OS VALORES DE INTEGER PARA STRING**

In [60]:
df3 = df1.selectExpr("cast(obitosNovos as string)")
df3.printSchema()

root
 |-- obitosNovos: string (nullable = true)