<a href="https://colab.research.google.com/github/victorog17/soulcode_aulas_spark/blob/main/Soulcode_PySpark_006_Header.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 36 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 58.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=2d2190222be752bccf372155159d3ab835474e7aa9fac9ab248c63ccc2c0e63f
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [ ]:
spark = (
    SparkSession.builder
      .master('local')
      .appName('dataframe_withcolumn')
      .config('spark.ui.port', '4050')
      .getOrCreate()
)

In [ ]:
df1 = (spark
       .read
       .format("csv")
       .option("header", "false")
       .option("inferschema", "false")
       .option("delimiter", ";")
       .load('/content/drive/MyDrive/Datasets/arquivo_geral.csv').toDF("UM", "DOIS", "TRES", "QUATRO", "CINCO", "SEIS", "SETE")
)

In [ ]:
df1.printSchema()

root
 |-- UM: string (nullable = true)
 |-- DOIS: string (nullable = true)
 |-- TRES: string (nullable = true)
 |-- QUATRO: string (nullable = true)
 |-- CINCO: string (nullable = true)
 |-- SEIS: string (nullable = true)
 |-- SETE: string (nullable = true)

In [ ]:
#SEGUNDA MANEIRA
lista_esquema = ['UM', 'DOIS', 'TRES', 'QUATRO', 'CINCO', 'SEIS', 'SETE']
df1 = (spark
       .read
       .format("csv")
       .option("header", "false")
       .option("inferschema", "false")
       .option("delimiter", ";")
       .load('/content/drive/MyDrive/Datasets/arquivo_geral.csv').toDF(*lista_esquema)
)

In [ ]:
df1.printSchema()

root
 |-- UM: string (nullable = true)
 |-- DOIS: string (nullable = true)
 |-- TRES: string (nullable = true)
 |-- QUATRO: string (nullable = true)
 |-- CINCO: string (nullable = true)
 |-- SEIS: string (nullable = true)
 |-- SETE: string (nullable = true)

In [ ]:
#TERCEIRA MANEIRA - UTILIZANDO O SELECT COM F.COL E ALIAS
df2 = (spark
       .read
       .format("csv")
       .option("header", "false")
       .option("inferschema", "false")
       .option("delimiter", ";")
       .load('/content/drive/MyDrive/Datasets/arquivo_geral.csv')
)

In [ ]:
df2 = df2.select(F.col("_c0").alias("um"),
                 F.col("_c1").alias("dois"),
                 F.col("_c2").alias("tres"),
                 F.col("_c3").alias("quatro"),
                 F.col("_c4").alias("cinco"),
                 F.col("_c5").alias("seis"),
                 F.col("_c6").alias("sete"),
)

df2.printSchema()

root
 |-- um: string (nullable = true)
 |-- dois: string (nullable = true)
 |-- tres: string (nullable = true)
 |-- quatro: string (nullable = true)
 |-- cinco: string (nullable = true)
 |-- seis: string (nullable = true)
 |-- sete: string (nullable = true)

In [ ]:
df3 = (spark
       .read
       .format("csv")
       .option("header", "true")
       .option("inferschema", "false")
       .option("delimiter", ";")
       .load('/content/drive/MyDrive/Datasets/arquivo_geral.csv')
)

In [ ]:
df3.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- data: string (nullable = true)
 |-- casosNovos: string (nullable = true)
 |-- casosAcumulados: string (nullable = true)
 |-- obitosNovos: string (nullable = true)
 |-- obitosAcumulados: string (nullable = true)

In [ ]:
df4 = df3.select(F.col("regiao").alias("nova_regiao"),
                 F.col("estado").alias("novo_estado")
)

df4.printSchema()
withColumnRenamed("nome_coluna", "novo_nome")

root
 |-- nova_regiao: string (nullable = true)
 |-- novo_estado: string (nullable = true)